In [3]:
# 1. Largest Difference in List
def largest_difference(noList):
    if not noList:
        return 0

    min_val = noList[0] #initial we assume minmum value which are on 0 index
    max_diff = 0  # intial we assume difference is 0

    for i in range(1, len(noList)):
        if noList[i] > min_val:
            max_diff = max(max_diff, noList[i] - min_val)
        else:
            min_val = noList[i]

    return max_diff
inputList=[1,2,90,10,110]
largest_difference(inputList)

109

In [6]:
#2. First Non-Repeating Character
def first_non_repeating_char(s):
    freq = {}

    # First pass: count characters
    for char in s:
        freq[char] = freq.get(char, 0) + 1

    # Second pass: find first character with count 1
    for char in s:
        if freq[char] == 1:
            return char

    return None
first_non_repeating_char("aabcc")

'b'

In [9]:
# 3. Check If Strings Are Permutations
def are_permutations(s1, s2):
    if len(s1) != len(s2):
        return False   # if lenght is no equal than inital return false

    char_count = {}

    for ch in s1:
        char_count[ch] = char_count.get(ch, 0) + 1

    for ch in s2:
        if ch not in char_count:
            return False
        char_count[ch] -= 1
        if char_count[ch] < 0:
            return False

    return True

are_permutations("abc", "bca")

True

In [13]:
# 4. Find the second largest unique number
def second_largest_unique(nums):
    unique_nums = list(set(nums))  # we convert it into set to remove duplicate


    unique_nums.sort(reverse=True)  # Sort the list into reverse and send 2nd value
    return unique_nums[1]

inputList=[4,5,6,6,7]
print(second_largest_unique(inputList))

6

In [14]:
# 5. Count Distinct Pairs
def count_distinct_pairs(nums, target):
    seen = set()
    pairs = set()

    for num in nums:
        complement = target - num
        if complement in seen:
            pair = tuple(sorted((num, complement)))
            pairs.add(pair)
        seen.add(num)

    return len(pairs)
inputData = [1,2,3,4,3,6]
target=6
print(count_distinct_pairs(inputData,target))

2

In [15]:
# 6. Remove Duplicates from list
def remove_duplicates(nums):
    seen = set()
    result = []

    for num in nums:
        if num not in seen:
            seen.add(num)
            result.append(num)

    return result

inputList=[1,2,2,3,4,5,1]
print(remove_duplicates(inputList))

[1, 2, 3, 4, 5]

In [16]:
# 7. Subsets of a list
def subsets(nums):
    result = [[]]  # start with the empty subset

    for num in nums:
        new_subsets = []
        for subset in result:
            new_subsets.append(subset + [num])
        result.extend(new_subsets)

    return result

inputList=[1,2,3]
print(subsets(inputList))

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [17]:
# 8. Longest increasing subsequence
def length_of_lis(nums):
    if not nums:
        return 0

    n = len(nums)
    dp = [1] * n

    for i in range(n):
        for j in range(i):
            if nums[i] > nums[j]:
                dp[i] = max(dp[i], dp[j] + 1)

    return max(dp)
inputList=[10,9,2,5,3,7,101,18]
print(length_of_lis(inputList))

4

In [18]:
# 9. Maximum product of Two Numbers
def max_product(nums):
    if len(nums) < 2:
        return None  # Not enough numbers to form a pair

    max1 = max2 = float('-inf')  # Two largest numbers
    min1 = min2 = float('inf')   # Two smallest numbers

    for num in nums:
        # Update two largest numbers
        if num > max1:
            max2 = max1
            max1 = num
        elif num > max2:
            max2 = num

        # Update two smallest numbers
        if num < min1:
            min2 = min1
            min1 = num
        elif num < min2:
            min2 = num

    # Calculate both possible products
    product1 = max1 * max2
    product2 = min1 * min2

    # Return the larger one
    if product1 > product2:
        return product1
    else:
        return product2

inputList=[1,10,-5,1,100]
print(max_product(inputList))

1000

In [20]:
# 10. Frequency of characters in string
def most_frequent_char(s):
    freq = {}

    for ch in s:
        if ch in freq:
            freq[ch] += 1
        else:
            freq[ch] = 1

    max_count = 0
    result_char = None

    for ch in freq:
        if freq[ch] > max_count:
            max_count = freq[ch]
            result_char = ch
        elif freq[ch] == max_count:
            if ch < result_char:
                result_char = ch

    return result_char

inputList="aabbbcc"
print(most_frequent_char(inputList))

b

In [21]:
# 11. Print prime number less than N
def print_primes_less_than(n):
    for num in range(2, n):
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=", ")
input=10;
print(print_primes_less_than(input))

2, 3, 5, 7, None

In [45]:
# 12. Sum of variable length arguments
def sum_numbers(*args):
    total = 0
    for num in args:
      total += num
    return total

print(2,3,4)

2 3 4

In [28]:
#. 13. Find the sutdent with highest score
def highest_score_student(scores):
    max_score = -1
    top_student = ""

    for name in scores:
        if scores[name] > max_score:
            max_score = scores[name]
            top_student = name

    return top_student
inputList={"Alice": 90, "Bob": 85, "Charlie": 95}
print(highest_score_student(inputList))

Charlie

In [30]:
#. 14 apply lambda to list
def apply_lambda_to_list(lst, func):
    return list(map(func, lst))

inputList=[1,2,3,4]
lambda_func = lambda x: x ** 2
print(apply_lambda_to_list(inputList, lambda_func))

[1, 4, 9, 16]

In [43]:
# 15. Sum or multiply based on keyword
def sum_or_multiply(*args, operation='sum'):
    if operation == 'multiply':
        result = 1
        for num in args:
            result *= num
        return result
    else:
        sumResult = 0
        for num in args:
            sumResult += num
        return sumResult

inputList = [1, 2, 3, 4]
operation = 'multiply'
print(sum_or_multiply(*inputList, operation=operation))

24